# ==========================================================
# Python
# ==========================================================
venv/
__pycache__/
*.pyc

# ==========================================================
# Datasets
# ==========================================================
Dataset/
Downloaded_Datasets/
Processed_Dataset/
Split_Dataset/
Final_Dataset/
Final_Dataset_Backup/

# ==========================================================
# Models
# ==========================================================
Models/
*.keras
*.h5
*.tflite
*.onnx
*.pth

# ==========================================================
# Results
# ==========================================================
Results/

# ==========================================================
# VS Code
# ==========================================================
.vscode/

# ==========================================================
# Logs
# ==========================================================
*.log

# ==========================================================
# OS Files
# ==========================================================
.DS_Store
Thumbs.db