# Python
venv/
__pycache__/
*.pyc

# Dataset (DO NOT TRACK)
Dataset/
Processed_Dataset/

# Model files
Models/
*.h5
*.keras
*.tflite
*.onnx
*.pth

# Training results
Results/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log